#SafeAreaView {
  flex: 1;
  margintop: 20;
  marginhorizontal: 16;
}

#View {
  backgroundcolor: "#f9c2ff";
  padding: 20;
  marginvertical: 8;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}

.body {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
}
